*{
  font-family: "MrsEavesItalic";
  color: rgba(255, 255, 255, 0.678);
  margin: 0;
}
body{
  background-image: url(img/back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
}
header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.logo{
  font-size: 82px;
  text-align: center;
  margin: 0 60px;
}
.flex{
  display:flex;
  justify-content: space-around;
  width: 70%;
}
nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav a{
  text-decoration: none;
  font-size: 30px;
  height: 30px;
  padding: 3px 15px 10px 15px;
}
nav a:hover{
  border: 1px solid rgba(255, 255, 255, 0.678);
  border-radius: 20px;
}
.container_1{
  width: 90%;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}
.cofee{
  width: 45%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top:50px;
}
.con1_text{
  width: 45%;
  margin: auto;
  padding: 20px;
}
@media screen and (max-width: 850px) {
	.container_1 {
    justify-content:row;
	}
  .cofee{
    width: 100%;
    justify-content: center;
  }
  .con1_text{
    width: 100%;
    text-align: center;
  }
}
.con1_text h2{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.678);
  font-weight: bold;
}
.con1_text span{
  font-size: 40px;
  color: rgba(255, 255, 255, 0.678);
}
.input{
  margin: 15px 0;
}
input{
  padding: 10px;
  font-size: 25px;
  background-color: #2A6F4F;
  opacity: 0.8;
  border: 0px solid red;
  border: 1px solid rgba(255, 255, 255, 0.678);
}



main{
  background-color: #fff;
}
.main{
  width: 70%;
  margin: auto;
  padding-top: 60px;
}
.line{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 0;
}
.line-con{
  width: 20%;
  padding: 20px 0;
  position: relative;
  top: 1px;
}
.line-con:hover{
  border: 1px solid #5F5F5F;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0 0;
  font-weight: bold;
  z-index: 5;
}
.line-con-img{
  width: 100%;
  text-align: center;
}
.line div p{
  color: #5F5F5F;
  font-size: 25px;
  width: 135px;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1000px) {
	.line-con{
    width: 40%;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .line-con:hover{
    border: 1px solid #5F5F5F;
    border-radius: 5px;
  }
}
@media screen and (max-width: 600px) {
	.line-con{
    width: 100%;
    padding: 10px 0;
  }
}

.container_2{
  border: 1px solid #5F5F5F;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}
.con{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plan{
  height: 500px;
  background-image: url(img/plan.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.con h2{
  color: #5F5F5F;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 10px;
}
.con p{
  color: #5F5F5F;
  font-size: 25px;
}



.out{
  outline: 1px solid red;
}
