*{
  font-family: "MrsEavesItalic";
  color: rgba(255, 255, 255, 0.678);
  margin: 0;
}
body{
  background-image: url(img/back.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 30px;
}
header{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
}
.logo{
  font-size: 82px;
  text-align: center;
  margin: 0 60px;
}
.flex{
  display:flex;
  justify-content: space-around;
  width: 70%;
}
nav{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
nav a{
  text-decoration: none;
  font-size: 30px;
  height: 30px;
  padding: 3px 15px 10px 15px;
}
nav a:hover{
  border: 1px solid rgba(255, 255, 255, 0.678);
  border-radius: 20px;
}
.container_1{
  width: 90%;
  margin: 50px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row-reverse;
}
.cofee{
  width: 45%;
  display: flex;
  justify-content: flex-end;
  position: relative;
  top:50px;
}
.con1_text{
  width: 45%;
  margin: auto;
  padding: 20px;
}
@media screen and (max-width: 850px) {
	.container_1 {
    justify-content:row;
	}
  .cofee{
    width: 100%;
    justify-content: center;
  }
  .con1_text{
    width: 100%;
    text-align: center;
  }
}
.con1_text h2{
  font-size: 50px;
  color: rgba(255, 255, 255, 0.678);
  font-weight: bold;
}
.con1_text span{
  font-size: 40px;
  color: rgba(255, 255, 255, 0.678);
}
.input{
  margin: 15px 0;
}
input{
  padding: 10px;
  font-size: 25px;
  background-color: #2A6F4F;
  opacity: 0.8;
  border: 0px solid red;
  border: 1px solid rgba(255, 255, 255, 0.678);
}



main{
  background-color: #fff;
  border-bottom: 2px solid #D5D5D5;
}
.main{
  width: 70%;
  margin: auto;
  padding-top: 60px;
}
.line{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 0;
}
.line-con{
  width: 20%;
  padding: 20px 0;
  position: relative;
  top: 1px;
}
.line-con:hover{
  border: 1px solid #D5D5D5;
  border-bottom: 2px solid #fff;
  border-radius: 5px 5px 0 0;
  z-index: 5;
}
.line-con-img{
  width: 100%;
  text-align: center;
}
.line div p{
  color: #5F5F5F;
  font-size: 25px;
  width: 135px;
  margin: auto;
  text-align: center;
}
@media screen and (max-width: 1000px) {
	.line-con{
    width: 40%;
    padding: 10px 0;
    margin-bottom: 20px;
  }
  .line-con:hover{
    border: 1px solid #D5D5D5;
    border-radius: 5px;
  }
}
@media screen and (max-width: 600px) {
	.line-con{
    width: 100%;
    padding: 10px 0;
  }
}

.container_2{
  border: 1px solid #D5D5D5;
  border-radius: 0 0 5px 5px;
  padding: 20px;
}
.con{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.plan img{
  max-width: 100%;
}
.con h2{
  color: #5F5F5F;
  font-size: 35px;
  font-weight: bold;
  padding-bottom: 10px;
}
.con p{
  color: #5F5F5F;
  font-size: 25px;
}


.container_3{
  width: 120%;
  display: flex;
  flex-wrap: wrap;
  margin: 50px auto;
  justify-content: center;
}
.site{
  height: 100%;
  width: 40%;
  text-align: center;
  margin: auto;
}
.spisok{
  height: 100%;
  width: 60%;
  color: #000;
  display: flex;
  flex-direction: column;
}
.spisok div h2{
  color: #5F5F5F;
  margin: 10px;
  font-size: 35px;
  font-weight: normal;
}
.spisok_1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.img-text{
  padding: 5px;
  font-size: 23px;
  color: #5F5F5F;
}
@media screen and (max-width: 1400px) {
  .site{
    width: 100%;
  }
  .spisok{
    width: 100%;
  }
}


.phone-color{
  background-color: #fff;
}
.container_4{
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 50px 0;
  justify-content: space-between;
  flex-direction: row;
}
.form_1{
  background-color: #E67624;
  width: 46%;
  padding: 10px;
  border-radius: 10px;
}
.form_2{
  background-color: #01D4F3;
  width: 46%;
  padding: 10px;
  border-radius: 10px;
}
.container_4 h2{
  font-size: 35px;
  color: #fff;
  margin-bottom: 10px;
}
.form_11{
  display: flex;
  flex-wrap: nowrap;
}
.form_11 input{
  background-color: #fff;
  width: 30%;
  color: #5F5F5F;
  margin: 0 auto 10px;
  height: 10px;
}
.form_22 input{
  width: 66%;
}
.button{
  width: 20%;
  color: #fff;
  background-color: #444444;
  height: 33px;
  border: 0 solid #000;
  font-size: 20px;
}
@media screen and (max-width: 1450px) {
  .container_4{
    width: 60%;
  }
  .form_1{
    width: 100%;
    margin-bottom: 30px;
  }
  .form_2{
    width: 100%;
  }
}
@media screen and (max-width: 850px) {
  .button{
    font-size: 15px;
  }
}
@media screen and (max-width: 715px) {
  .form_11{
    flex-wrap: wrap;
  }
  .form_11 input{
    width: 100%;
  }
  .button{
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 425px) {
  .container_4 h2{
    font-size: 25px;
  }
  .form_11 input{
    font-size: 20px;
  }
}
@media screen and (max-width: 310px) {
  .container_4 h2{
    font-size: 20px;
  }
  .form_11 input{
    font-size: 15px;
  }
  .button{
    font-size: 15px;
  }
}


footer{
  width: 100%;
  background-image: url(img/footer.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding: 30px 0;
}
.footer{
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 18px;
}
.about{
  width: 25%;
}
.about h1{
  font-size: 22px;
  padding: 10px;
}
.leo{
  text-align: center;
}
#leo{
  font-size: 100px;
  font-weight: normal;
}
@media screen and (max-width: 900px) {
  .about{
    width: 30%;
  }
  #leo{
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .about{
    width: 50%;
    margin-bottom: 20px
  }
  #leo{
    margin-top: 20px;
  }
}
@media screen and (max-width: 700px) {
  .about{
    width: 100%;
    margin-bottom: 20px;
  }
}

.out{
  outline: 1px solid red;
}
